*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    width: 80%;
    margin: 10px auto;
}

.first-row,
.second-row{
    width: 100%;
    margin-bottom: 2%;
}

#colonna1,
#colonna2,
#colonna3{
    width: 32%;
    float: left;
    position: relative;
}

#colonna2{
    margin: 0 2%;
}

img{
    width: 100%;
}

.pic-1{
    display: block;
}
  
.img-hover{
    display: none;
}
  
#colonna1:hover .img-hover,
#colonna2:hover .img-hover,
#colonna3:hover .img-hover{
    display: block;
}
  
#colonna1:hover .pic-1,
#colonna2:hover .pic-1,
#colonna3:hover .pic-1{
    display: none;
}
  

.first-row::after,
.second-row::after{
    content: "";
    display: table;
    clear: both;
}

h4{
    margin-top: 2%;
    font-size: 15px;
    font-weight: lighter;
}

h3{
    font-size: 15px;
}
.price-sale{
    color: red;
    font-size: 15px;
}

.price{
    text-decoration: line-through;
    font-size: 15px;
}

.heart{
    position: absolute;
    right: 0;
    top: 2%;
    background-color: white;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
}

.eco{
    background-color: green;
    color: white;
    display: inline-block;
    padding: 1%;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    margin-left: 0.5%;
}

.sale{
    background-color: red;
    color: white;
    display: inline-block;
    padding: 1%;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}

.sale-eco{
    position: absolute;
    bottom: 5%;
    left: 0;
    width: 100%;
}

.foto{
    width: 100%;
    position: relative;
}